<div class="page-header">
  <h2>
    <%= @playlist.user.username %>
    <small><%= pluralize(@playlist.songs.count, 'song') %></small>
  </h2>
</div>

<% if @playlist.songs.empty? %>
  <p class="muted">
    There are no songs here.
  </p>
<% else %>
  <table id="playlist-songs" class="table table-striped <%= @playlist.is_owner?(current_user) ? 'sortable' : '' %>">
    <%= render(@playlist.songs.rank(:row_order)) %>
  </table>
<% end %>

<% if @playlist.is_owner?(current_user) %>
  <div class="span6">
    <%= form_for([ @playlist, @playlist.songs.build ], :html => { :multipart => true, :class => "form-horizontal" }) do |form| %>
      <legend>
        Upload a Song
      </legend>
      <div class="control-group">
        <%= form.label :file, :class => "control-label" %>
        <div class="controls">
          <%= form.file_field :file %>
        </div>
      </div>

      <div clas="control-group">
        <div class="controls">
          <div class="upload-progress"></div>
          <button type="submit" class="btn btn-primary">Upload</button>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
