<!DOCTYPE html>
<html>
  <head>
    <title>My Playlist</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <div class="navbar navbar-static-top">
        <div class="navbar-inner">
          <%= link_to("My Playlist", root_path, :class => "brand") %>
          <ul class="nav pull-right">
            <% if current_user %>
              <li class="dropdown">
                <%= link_to("#", :class => "dropdown-toggle", :data => { :toggle => "dropdown" }) do %>
                  <%= current_user.username %>
                  <b class="caret"></b>
                <% end %>
                <ul class="dropdown-menu">
                  <li><%= link_to("Playlist", playlist_path(current_user.playlist)) %></li>
                  <li><%= link_to("Sign Out", destroy_user_session_path, :method => :delete) %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to("Sign In", new_user_session_path) %></li>
              <li><%= link_to("Sign Up", new_user_registration_path) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </header>
    <div id="main">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span12">
            <% if flash[:notice] %>
              <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= flash[:notice] %>
              </div>
            <% end %>

            <% if flash[:alert] %>
              <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= flash[:alert] %>
              </div>
            <% end %>

            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
