<!DOCTYPE html>
<html>
  <head>
    <title>My Playlist</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <div class="navbar navbar-static-top">
        <div class="navbar-inner">
          <%= link_to('Home', root_url, :class => 'brand') %>
          <ul class="nav pull-right">
            <%# if the user is logged-in %>
              <!--
              <li class="dropdown">
                <%= link_to("#", :class => "dropdown-toggle", :data => { :toggle => "dropdown" }) do %>
                  <%# show the user name %>
                  <b class="caret"></b>
                <% end %>
                <ul class="dropdown-menu">
                  <li><%# link to the user's playlist  %></li>
                  <li><%# link to sign-out %></li>
                </ul>
              </li>
              -->
            <%# if the user is not logged-in %>
              <!--
              <li><%# link to sign-in %></li>
              <li><%# link to sign-up %></li>
              -->
            <%# end %>
          </ul>
        </div>
      </div>
    </header>
    <div id="main">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span12">
            <%# if a notice is preset %>
              <!--
              <div class="flash alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%# show the notice %>
              </div>
              -->
            <%# end %>

            <%# if an alert is present %>
              <!--
              <div class="flash alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%# show the alert %>
              </div>
              -->
            <%# end %>

            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
